<div id="historial">
    <div id="messages"></div>
</div>

<input type="text" id="message">
<button id="send" onclick="sendMenssage()">Enviar</button>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>